/*
mode can be any of :
  - "single": for regular single end read mapping
  - "iterative": for iterative Hi-C read mapping

aligner_args allows to specify additional arguments to the alignment software.
When mode is "single", arguments are passed to bowtie2.
When mode is "iterative" arguments are passed to hicstuff iteralign (which wraps
bowtie2). See the hicstuff docs for more info.
*/

dag {
  enabled = false
  file = 'dag.dot'
}

params {
  reference        = "input/08_Ac_C3_masked.fa"
  input_dir        = "input"
  output_dir       = "output"
  n_chunks         = 20
  mode         = 'iterative'
  aligner_args = "--read-len 150 --aligner bowtie2"
}

profiles {
  standard {
    process.executor = 'local'
    docker.enabled = false
    singularity.enabled = false
  }
  singularity {
    singularity.enabled = true
    docker.enabled = false
  }
  docker {
    docker {
      enabled = true
      fixOwnership = true
    }
    singularity.enabled = false
  }
  awsbatch { includeConfig 'conf/aws.config' }
  pasteur { includeConfig 'conf/pasteur.config'}
}

process {
  cpus = 12
  memory = 16.GB
  queueSize = 2000
  withName: 'mapSplit' {
    cpus = 1
    memory = 1.GB
  }
}
