//Profile config names for Pasteur institute. Based on Remi Planel's (@rplanel) nf-core config
params {
  config_profile_description = 'The Institut Pasteur HPC cluster profile'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /local/scratch:/tmp'
}

process {
  executor = 'slurm'
}

params {
  max_memory = 256.GB
  max_cpus = 28
  max_time = 24.h
}


